#home {
  display: flex;
  justify-content: end;
}

#title-container {
  width: 50%;
  align-self: center;
  text-align: center;
}

#home #content {
  width: 60%;
  margin-top: 5%;
  align-self: center;
}

#home #content .nes-field {
  display: flex;
}
