@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
}

body {
  background: #212529;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

.white {
  color: white;
}
